@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat", sans-serif, system-ui;
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    margin: 24px 0px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    background-clip: content-box;
    border: 6px solid transparent;
    border-radius: 12px;
}